
.ionicToolbar{
  --background: #9c27b0;

  .ionicTitle{
    color: #FFFFFF;    
  }}

  ion-card{
    --background: #9c27b0;
    ion-card-title{
      color: #FFFFFF;
    }
    h1{
      color: #FFFFFF;
    }
  }

  

