<ion-header>
  <ion-toolbar class="ionicToolbar">
    <ion-title class="ionicTitle">
      Información Coronavirus Global
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información Coronavirus Global </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>      
      <ion-card-title>Casos Coronavirus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{info?.cases | number}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>     
      <ion-card-title>Muertes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{info?.deaths | number}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>      
      <ion-card-title>Recuperados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{info?.recovered | number}}</h1>
    </ion-card-content>
  </ion-card>
  
</ion-content>